html { font-family: Georgia; background: #FFFF; padding: 1rem; }
body { margin: auto;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.division {
  text-align: center;
  font-size: 5em;
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 0em;
  margin-bottom: 0.1em;
  padding: 0px;
}

h1 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

h2 {
  font-size: 3em;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 0.4em;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

form {
  text-align: center;
  margin-top: 2em;
  padding: 0px;
}

input[type=email] {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 2em;
  background-color: #FFFF;
  box-sizing: border-box;
  font-family: Georgia;
  text-align: center;
  font-size: 1.2em;
}

input[type=submit] {
  align-self: start;
  min-width: 7em;
  min-height: 2em;
  margin-top: 0.3em;
  display: inline-block;
  border: 0;
  background-color: #000000;
  font-family: Georgia;
  text-align: center;
  font-size: 1.2em;
  color: #FFFF;
}

input[type=login] {
  width: 20%;
  display: inline-block;
  margin-left: 25%;
  margin-right: 25%;
  min-height: 2em;
  background-color: #FFFF;
  box-sizing: border-box;
  font-family: Georgia;
  text-align: center;
  font-size: 1.2em;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  padding-inline-start: 0px;
}

.social-icons {
  text-align: center;
}

.social-icons li {
  list-style-type:none;
  -moz-user-select:none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  }

.social-icons li a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.social-icons li img {
  max-width: 35px;
  max-height:35px;
  margin-top: 0px;
  margin-bottom: 0px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.sign_in_logo {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
}

label {
  text-align: center;
  font-size: 1.75em;
  font-weight: bold;
}
