html { font-family: Georgia; background: #FFFF; padding: 1rem; }
body { margin: auto;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.division {
  text-align: center;
  font-size: 5em;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  padding: 0px;
}

h1 {
  font-size: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 0.4em;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
}

.form {
  text-align: center;
  font-size: 5em;
  margin: 0px;
  padding: 0px;
}

.form input[type=email] {
  width: 85%;
  padding: 1px 1px;
  display: inline-block;
  border: 0px;
  background-color: #FFFF;
  box-sizing: border-box;
  text-align: center;
  font-family: Georgia;
  font-size: 0.3em;
  color: #FFFF;
}

.form input[type=submit] {
  align-self: start;
  min-width: 7em;
  min-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  background-color: #000000;
  text-align: center;
  font-family: Georgia;
  font-size: 0.3em;
  color: #FFFF;
}

ul {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0;
  margin-right: 0;
  padding-inline-start: 0px;
}

.social-icons {
  text-align: center;
  }
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -moz-user-select:none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  }

.social-icons li a {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
}

.social-icons li img {
  max-width: 40px;
  max-height:40px;
  margin-top: 0px;
  margin-bottom: 0px;
}
