<!DOCTYPE html>
<html lang = "en" style="background-color:#c6eaeb">
  <head>
    <title>pedaGoga - Page not found</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <img src="static/favicon.ico" alt="logo" class="sign_in_logo">
    <div class="division_404">
      <h3>OH YEAH...</h3>
      <h2>THIS IS</h2>
      <h2>AWKWARD</h2>
      <h3>Error #404. That page doesn't exist.</h3>
    </div>
  </body>
</html>
